<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.zjut.iteacher">

    <!-- To auto-complete the phone text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 高德地图 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity" />
        <activity
            android:name=".activity.wel_login.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.wel_login.RegisterActivity" />
        <activity android:name=".activity.wel_login.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.wel_login.IntroActivity" />

        <!-- curriculum my -->
        <activity android:name=".activity.myLesson.CurTableActivity" />

        <!-- ref to lesson -->
        <activity
            android:name=".activity.register.SelectSchoolActivity"
            android:taskAffinity="" />
        <activity android:name=".activity.register.SelectCampusActivity" />
        <activity android:name=".activity.register.SelectCollegeActivity" />

        <!-- 短信 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.checkin.CheckActivity" />

        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>

                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.li.zjut.iteacher.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name=".service.xgpush.MessageReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100203987" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AF2DA755M3FK" />

        <!-- 开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f65591a00e2174bc55e44cce093650d8" />

        <activity android:name=".activity.checkin.TodayCheckInfoActivity" />
        <activity android:name=".activity.checkin.OneCheckInfoActivity" />
        <activity
            android:name=".activity.addresslist.AddressActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.schedule.MyScheduleActivity" />
        <activity
            android:name=".activity.schedule.CreateSchedulectivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.personinfo.PersonInfoActivity" />
        <activity android:name=".activity.personinfo.BigPicActivity" />
        <activity android:name=".activity.personinfo.EditPersonalInfoActivity" />
        <activity
            android:name=".activity.common.JumpActivity"
            android:theme="@style/Theme.Transparent" />

        <!-- im -->

        <activity android:name=".activity.im.ConversationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.li.zjut.iteacher"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.im.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.li.zjut.iteacher"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.im.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.li.zjut.iteacher"
                    android:pathPrefix="/conversation"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.checkin.SelectCheckPointActivity" />
        <activity android:name=".activity.checkin.StuListActivity" />
        <activity android:name=".activity.message.MessageDetailActivity" />
        <activity android:name=".activity.imteacher.ImTeacherFirstActivity" />
        <activity android:name=".activity.imteacher.StuInfoActivity" />
        <activity
            android:name=".activity.imteacher.ImTeacherTaskDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.imteacher.ImteacherNewTaskActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.imteacher.ImteacherStuSelectActivity" />
        <activity android:name=".activity.imteacher.ImTeacherStuDetailActivity" />
        <activity android:name=".activity.checkin.CheckInAllClassesActivity" />
        <activity
            android:name=".activity.schedule.ScheduleDetailPageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.myLesson.AddModifyCurriculumActivity" />
        <activity android:name=".activity.myLesson.AddModifyClassActivity" />
        <activity android:name=".activity.schedule.MyScheduleNewActivity" />
        <activity android:name=".activity.addresslist.ClassGroupActivity" />
        <activity android:name=".activity.addresslist.ApartmentActivity" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity android:name=".activity.myLesson.MyLessonActivity" />
        <activity android:name=".activity.myLesson.SetNowWeekActivity" />
        <activity android:name=".activity.myLesson.SelectTermActivity" />
        <activity android:name=".activity.myLesson.CreateTermActivity" />
        <activity android:name=".activity.imteacher.ImTeacherFirstNewActivity" />
        <activity android:name=".activity.imteacher.StudentListActivity" />
        <activity android:name=".activity.imteacher.AddStuByHandActivity" />
        <activity android:name=".activity.imteacher.StudentInfoActivity" />
        <activity
            android:name=".activity.imteacher.AddStuFromAddressActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.imteacher.AddTagsActivity" />
        <activity android:name=".activity.imteacher.TaskListActivity" />
        <activity android:name=".activity.imteacher.CallActivity" />
        <activity android:name=".activity.checkin.newactivity.CheckInActivity" />
        <activity android:name=".activity.checkin.newactivity.PlaceChangeActivity" />
        <activity android:name=".activity.checkin.newactivity.CheckHistoryActivity" />
        <activity android:name=".activity.checkin.newactivity.CheckInfoActivity" />
        <activity android:name=".activity.checkin.newactivity.StuListNewActivity" />
        <activity android:name=".activity.checkin.newactivity.StuListNoActivity" />
        <activity android:name=".activity.checkin.newactivity.MapOnePlaceActivity" />
        <activity android:name=".activity.checkin.newactivity.MapShowEveryOneActivity" />
        <activity android:name=".activity.checkin.newactivity.SelectCurActivity" />
        <activity
            android:name=".activity.email.NewLetterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>